[Unit]
Description=Run 1-Wire watchdog every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
Unit=w1-watchdog.service

[Install]
WantedBy=timers.target
