[Unit]
Description=Run 1-Wire watchdog every 3 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=3min
Unit=w1-watchdog.service

[Install]
WantedBy=timers.target
